{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container-fluid m-0 covered login bg-dark">
    <form action="" method="POST" class="bg-light border-border-warning col-md-7 col-sm-12">
      {% csrf_token %}
      <fieldset class="col-sm-12 border-border-success">
          <legend class="">
            <strong class="d-block login-legend">Login <span id="portfolio">account</span></strong>
            <small class="text-muted">Need an account? <a id="portfolio" href="{% url 'register' %}">Sign up</a> </small>
          </legend>
          <div class="login-form border-border-info">
            {{form|crispy}}
          </div>
            <div class="text-center py-4 pt-5 mb-5 pb-5">
              <button class="sign">login</button>
            </div>
          </fieldset> 
</form>
</div>
<style>
  .login{
    background-image: url('{% static "the-background.png" %}');
    background-repeat:repeat;
    background-size:100%;
    height:100vh;
    display:block;
    text-align: center;
    padding-top:70px;
  }
  form{
    margin:0 auto;
    padding-top:50px;
  }
@media (max-width:720px){
  .login{
    background-image:none;
    background-repeat:none;
    background-size:none;
    height:none;
    padding:0;
    text-align:justify;
    }
  form{
    margin:0;
    padding:0;
    padding-top:10px;
    height:100vh;
  }
}
</style>

{% endblock content %}